@model WebTextForum.ViewModel.BlogItemsViewModel;
@{
    ViewData["Title"] = "Home Page";
    var userCanSave = User.Claims.Any(c => c.Type.Equals("http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name", StringComparison.InvariantCultureIgnoreCase) && c.Value.Equals("Moderator", StringComparison.InvariantCultureIgnoreCase));
    var userCanReply = User.Identity.IsAuthenticated;
    var pageTotal = (Model.Count-1) / Model.PerPage;
}

<div class="text-center">
    <h1 class="display-4">Welcome to the WebTextForum</h1>
    <p>Where you can (when logged in) blog about things, the moderator will tag them and you can comment on the posts and like.<br />If not logged in, you can read and like the posts.</p>
</div>

<table class="col-lg-10 col-sm-12">
    <tr>
        <th style="cursor:pointer" onclick="OrderBy(@((int)WebTextForum.Enums.OrderColumn.Date),@((!Model.Desc).ToString().ToLower()))">Created</th>
        <th style="cursor:pointer" onclick="OrderBy(@((int)WebTextForum.Enums.OrderColumn.User),@((!Model.Desc).ToString().ToLower()))">Created by</th>
        <th style="cursor:pointer" onclick="OrderBy(@((int)WebTextForum.Enums.OrderColumn.Likes),@((!Model.Desc).ToString().ToLower()))">Likes</th>
        <th style="cursor:pointer" onclick="OrderBy(@((int)WebTextForum.Enums.OrderColumn.Comment),@((!Model.Desc).ToString().ToLower()))">Comment</th>
    </tr>
    @{
        foreach (var item in Model.Items)
        {
            var warning = item.Tags.Any(t => t.Value == "1");
                    <tr class="forum_style trItem" blogId="@item.Id" @(warning ? "style=background:coral" : string.Empty)>
                        <td>@(item.CreatedDate)</td>
                        <td>@(item.User)</td>
                        <td>@(item.Likes)</td>
                        <td>@(item.Comment.Length > 50 ? $"{item.Comment.Substring(0, 50)}..." : item.Comment)</td>
                    </tr>
        }
        if (!Model.Items.Any())
        {
                    <tr>
                        <td colspan="4">
                            There are no items in this forum yet.
                        </td>
                    </tr>
        }
        else
        {
                    <tr>
                        <td colspan="4">
                            @if (Model.PageNumber > 0)
                    {
                                <a href="index?@(String.IsNullOrEmpty(Model.FromDate) ? string.Empty : $"fromDate={Model.FromDate}")&@(String.IsNullOrEmpty(Model.ToDate) ? string.Empty : $"toDate={Model.ToDate}")&@($"orderBy={(int)Model.OrderBy}")&@($"desc={Model.Desc}")&page=0">Start</a>
                                <a href="index?@(String.IsNullOrEmpty(Model.FromDate) ? string.Empty : $"fromDate={Model.FromDate}")&@(String.IsNullOrEmpty(Model.ToDate) ? string.Empty : $"toDate={Model.ToDate}")&@($"orderBy={(int)Model.OrderBy}")&@($"desc={Model.Desc}")&page=@(Model.PageNumber-1)">Previous</a>
                    }
                            Page @(Model.PageNumber + 1) of @(pageTotal + 1)
                            @if (Model.PageNumber < pageTotal)
                    {
                                <a href="index?@(String.IsNullOrEmpty(Model.FromDate) ? string.Empty : $"fromDate={Model.FromDate}")&@(String.IsNullOrEmpty(Model.ToDate) ? string.Empty : $"toDate={Model.ToDate}")&@($"orderBy={(int)Model.OrderBy}")&@($"desc={Model.Desc}")&page=@(Model.PageNumber+1)">Next</a>
                                <a href="index?@(String.IsNullOrEmpty(Model.FromDate) ? string.Empty : $"fromDate={Model.FromDate}")&@(String.IsNullOrEmpty(Model.ToDate) ? string.Empty : $"toDate={Model.ToDate}")&@($"orderBy={(int)Model.OrderBy}")&@($"desc={Model.Desc}")&page=@(pageTotal)">End</a>
                    }
                            <button type="button" class="btn btn-primary" onclick="search()">Search</button>
                            @if (Model.Searched)
                            {
                                <a href="index">Clear Search</a>
                            }
                        </td>
                    </tr>
        }
    }
    @if (userCanReply)
    {
        <tr>
            <td colspan="4">
                <button type="button" class="btn btn-primary" onclick="addNewItem()">Add New Blog Item</button>
            </td>
        </tr>
    }
</table>

<!-- Modal -->
<div class="modal fade" id="viewModal" tabindex="-1" role="dialog" aria-labelledby="viewModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closeModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="viewModalLabel">View Blog Post</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <label class="form-label">Date Created: <span id="dateCreated"></span></label>
                </div>
                <div class="row form-group">
                    <label class="form-label">Created By: <span id="user"></span></label>
                </div>
                <div class="row form-group">
                    <label class="form-label">Comment: <span id="comment"></span></label>
                </div>
                <div class="row form-group" id="grpTags">
                    <label class="form-label">Tags: <span id="tags"></span></label>
                </div>
                <div class="row">
                    <label class="form-label">Like (<span id="likes"></span>)<input type="checkbox" id="chkLike" /></label>
                </div>
                <div class="row form-group" id="replys">
                    <label class="form-label">Replies: <span id="reply"></span></label>
                </div>
                <div class="row form-group" id="replyCommentGroup">
                    <label class="form-label">Comment</label>
                    <textarea rows="5" cols="20" id="replyComment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeModal" data-dismiss="modal">Close</button>
                @if (userCanSave)
                {
                    <button type="button" class="btn btn-primary" id="cmdSaveChanges" onclick="saveItemChanges()">Save changes</button>
                }
                @if (userCanReply)
                {
                    <button type="button" class="btn btn-primary" id="cmdReply" onclick="addComment()">Reply to Post</button>
                    <button type="button" class="btn btn-primary" id="cmdSaveReply" onclick="saveComment()">Save Reply</button>
                }
            </div>
        </div>
    </div>
</div>

<!-- Add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closeAddModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">Add Blog Post</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <label class="form-label">Comment</label>
                    <textarea rows="5" cols="20" id="addComment"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeAddModal" data-dismiss="modal">Close</button>
                @if (userCanReply)
                {
                    <button type="button" class="btn btn-primary" onclick="saveAddItem()">Save changes</button>
                }
            </div>
        </div>
    </div>
</div>

<!-- Search Modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="closeSearchModal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="searchModalLabel">Search Blog Posts</h4>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <label class="form-label">From Date</label>
                    <input type="date" id="fromDate" class="form-control" />
                </div>
                <div class="row form-group">
                    <label class="form-label">To Date</label>
                    <input type="date" id="toDate" class="form-control" />
                </div>
                <div class="row form-group">
                    <label class="form-label">Author</label>
                    <select><option>Authors not working yet...</option></select>
                </div>
                <div class="row form-group">
                    <label class="form-label">Tag</label>
                    <select><option>Tags not working yet...</option></select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default closeSearchModal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="searchPosts()">Search Blog Posts</button>
            </div>
        </div>
    </div>
</div>

<script>
    let blogId = 0;
    $("#viewModal").on("hidden.bs.modal", function () {
        location.reload();
    });
    function search() {
        $('#searchModal').modal('toggle');
    }
    function addComment() {
        $('#replyCommentGroup').show();
        $('#cmdSaveReply').show();
        $('#cmdSaveChanges').hide();
        $('#cmdReply').hide();
    }
    function addNewItem() {
        // clean controls
        $('#addModal').modal('toggle');
    }
    $('#chkLike').on('change', (e) => {
        let val = $(e.currentTarget).prop('checked');
        likeItemToggle(blogId);
    });
    $('.trItem').on('click', function (e) {
        blogId = $(e.currentTarget).attr('blogId');
        loadItem(blogId);
        $('#viewModal').modal('toggle');
    });
    $('.closeModal').on('click', () => {
        $('#viewModal').modal('hide');
    });
    $('.closeAddModal').on('click', () => {
        $('#addModal').modal('hide');
    });
    $('.closeSearchModal').on('click', () => {
        $('#searchModal').modal('hide');
    });
    function loadItem(id) {
        $.ajax({
            url: '/forum/BlogDetails/' + id,
            success:
                function (result) {
                    $('#dateCreated').text(result.createdDate);
                    $('#user').text(result.user);
                    $('#comment').text(result.comment);
                    $('#likes').text(result.likes);
                    $('#chkLike').prop('checked', result.likedByUser);
                    if (result.isYourComment) { $('#chkLike').hide(); }
                    else { $('#chkLike').show(); }

                    $('#replyCommentGroup').hide();
                    $('#cmdReply').show();
                    $('#cmdSaveReply').hide();


    @if (userCanSave)
    {
        <text>
                                if (!result.allTags || result.allTags.length == 0) {
                                    $('#grpTags').hide();
                }
                                else {
                                    $('#grpTags').show();
                        $('#tags').html(result.allTags.map((x) => `<br /><label class="form-label"><input type='checkbox' class="allTags" value=${x.value} ${result.tags.find((item) => x.value === item.value) ? 'checked' : ''} />${x.text}</label>`));
                }
        </text>
    }
    else
    {
        <text>
                                if (!result.tags || result.tags.length == 0) {
                                    $('#grpTags').hide();
                            }
                                else {
                                    $('#grpTags').show();
                                $('#tags').html(result.tags.map((x) => `<li value=${x.value}>${x.text}</li>`));
                            }
        </text>
    }
                        if (result.replies && result.replies.length > 0) {
                        $('#reply').html(result.replies.map((x) => `<hr /><p title='Replied by ${x.user} on ${x.createdDate}'>${x.comment}</p><hr />`));
                        $('#replys').show();
                    }
                    else {
                        $('#replys').hide();
                    }
                }
        });
    }
    function likeItemToggle(id) {
        $.ajax({
            url: '/forum/BlogDetailsLike/' + id,
            type: 'PATCH',
            success:
                function (result) {
                    $('#dateCreated').text(result.createdDate);
                    $('#user').text(result.user);
                    $('#comment').text(result.comment);
                    $('#likes').text(result.likes);
                }
        });
    }
    function searchPosts() {
        let fromDate = $('#fromDate').val();
        let toDate = $('#toDate').val();

        if (!fromDate || !toDate){
            alert('Please select a From Date and a To Date to search for');
            return;
        }

        window.location.href = `Index?fromDate=${fromDate}&toDate=${toDate}`;
    }
    function OrderBy(id, desc) {
        window.location.href = `Index?@(String.IsNullOrEmpty(Model.FromDate) ? string.Empty : $"fromDate={Model.FromDate}")&@(String.IsNullOrEmpty(Model.FromDate) ? string.Empty : $"toDate={Model.ToDate}")&orderBy=${id}&desc=${desc}`;
    }
    function saveItemChanges() {
        let tags = [];
        $('.allTags').each((e, t) => {
            if (t.checked) {
                tags.push(t.value);
            }
        });

        $.ajax({
            url: '/forum/BlogDetailsUpdate/' + blogId,
            data: { tagIds: tags },
            type: 'POST',
            success:
                function (result) {
                    $('#viewModal').modal('hide');
                    location.reload();
                }
        });
    }
    function saveAddItem() {
        var comment = $('#addComment').val();
        if (!comment.trim()) {
            alert("Please enter a comment before you try and submit");
            return;
        }
        $.ajax({
            url: '/forum/BlogDetailsAddPost',
            data: { newComment: comment },
            type: 'POST',
            success:
                function (result) {
                    $('#addModal').modal('hide');
                    location.reload();
                }
        });
    }
    function saveComment() {
        var comment = $('#replyComment').val();
        if (!comment.trim()) {
            alert("Please enter a comment before you try and submit");
            return;
        }
        $.ajax({
            url: '/forum/BlogDetailsAddReply/' + blogId,
            data: { newComment: comment },
            type: 'POST',
            success:
                function (result) {
                    $('#viewModal').modal('hide');
                    location.reload();
                }
        });
    }
</script>
